.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.message {
  position: relative;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  margin: 5px 0;
}

.avatar {
  flex: 0.1;
  margin-right: 10px;
}

.messageInfo {
  flex: 0.9;
}

p {
  margin: 0;
  font-size: 13px;
}

.messageText {
  color: grey;
}

.active {
  background-color: #d3d3d363;
}

.new {
  font-weight: bold;
  color: black;
}

.status {
  margin: 20px 0 0 10px;
}
