.container {
  position: relative;
  display: flex;
  align-items: center;
}
.container p {
  margin-right: 10px;
}

.resultsContainer {
  position: absolute;
  top: 50px;
  left: 30px;
  width: 140px;
  max-height: 300px;
  border: 1px solid lightgrey;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  overflow: scroll;
}

.areaSelect {
  cursor: pointer;
  margin: 3px 0;
}
