.form {
  margin-top: 20px;
  width: 30%;
}

.field {
  margin-top: 10px;
}

.btnGroup {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn {
  cursor: pointer;
}

.secondary {
  margin-left: 10px;
  box-shadow: none;
  border: 0;
}

.errorMessage {
  color: red;
  font-size: 10px;
  margin: 0 0 0 10px;
}
