.chatsHeader {
  display: flex;
  align-items: center;
  margin: 10px;
}

.userPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border-bottom: 1px solid gray;
  padding: 10px 0;
}

.logoutBtn {
  /* position: absolute;
  top: 18px;
  right: 10px; */
}
