.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  width: 100%;
  padding: 20px;
  flex: 0.85;
  overflow: scroll;
}

.threadContainer {
  overflow-y: scroll;
  margin: 0 0 10px;
}

.message {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  overflow: scroll;
  margin-bottom: 10px;
}

.right {
  align-items: flex-end;
}

.messageBody {
  padding: 10px;
  border-radius: 10px;
  background-color: #d3d3d363;
  max-width: 50%;
  width: fit-content;
}

.messageAuthor {
  margin: 0 5px;
  font-size: 10px;
  color: gray;
}

.right > .messageBody {
  background-color: #adcee66b;
}
