.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.chatsSection {
  flex: 0.3;
  border-right: 1px solid black;
  padding: 0 10px;
  position: relative;
  max-height: 100vh;
  overflow: scroll;
}

.messageSection {
  display: flex;
  flex-direction: column;
  flex: 0.7;
}
