.spinner {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.spinner::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid black;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  content: "";
  animation: rotate 0.5s ease infinite;
}

.btn {
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 1);
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #ececec;
}

h1 {
  margin: 5px;
}

input {
  min-height: 42px;
  background-color: #d3d3d363;
  border-radius: 20px;
  width: -webkit-fill-available;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
